body{
   font-family:'Rubik', sans-serif;
   margin: 0;
   /* padding: 0; */
   /* display: flex; */
}

.hero{
    
    border-radius: 15px;
    /* background-color: rgb(11, 18, 82); */
    background-image: url("images/pattern-bg-desktop.png");
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    /* justify-content: center; */
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
header{
 /* background-image: url("path/to/your/image.jpg"); */
    width: 100%;
    height: 100%;
}
.IP-info{
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color:black;
    width: 500px;
    display: flex;
    /* margin-left: -80px 250px ; */
    

}
.search{
    width: 40px;
    height: 90px;
    display: flex;
    justify-content: center;
    width: 60%;
}
.btn-search{
    background-color: black;
    color: white;
    width: 40px;
  
}
.ipinformation{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#map { 
    height:400px; 
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}
h3{
    color: gray;
    font-size: 18px;
}
/* .IP-info{
   background-color: white; 
   height: 60px;
    
} */
 
