body{
   font-family:'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   /* display: flex; */
   
}

.hero{
    background-image: url("images/pattern-bg-desktop.png");
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    /* justify-content: center; */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100%; */
    margin-top: 0;
   background-size: cover;
}
header{
 /* background-image: url("path/to/your/image.jpg"); */
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}
.IP-info{
    position: relative;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color:black;
    width: 500px;
    height: 150px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    z-index: 2;
}
.ipentry{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
/* Theres a bug here  */
.search{
    /* display: flex; */
    /* justify-content: center; */
    /* width: 60%; */
}
.btn-search{
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 10px;
    height: 35px;
    gap:-10px;
    margin-left: -40px;
    padding: 5px;
}
.ipinformation{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

section{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#map { 
    height:500px; 
    background-color: aliceblue;
    padding: 0;
    margin-top: -40px;
    z-index: -1;
}
h3{
    color: gray;
    font-size: 12px;
}

 .hero h1{
    margin-top: 0;
 }
 
 .information-container{
    display: flex;
    gap: 30px;
    font-weight: 800;
    min-width: 300px;
    
 }
 #item{
    border-right-style: solid;
    padding-right: 20px;
    padding-left: 20px;
    border-color:rgba(142, 142, 142, 0.382) ;
    align-items: center;
    justify-content: center;
 }

 @media (max-width: 600px){
    .section{
        flex-direction: column;
    }
 }
    p{
        font-size: 16px;
    }