body{
   font-family:'Rubik', sans-serif;
   margin: 0;
   /* padding: 0; */
   /* display: flex; */
}

.hero{
    
    border-radius: 15px;
    /* background-color: rgb(11, 18, 82); */
    background-image: url("images/pattern-bg-desktop.png");
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    /* justify-content: center; */
    background-position: center;
    min-height: auto;
    padding-bottom: -90px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   margin-top: 0;
}
header{
 /* background-image: url("path/to/your/image.jpg"); */
    width: 100%;
    height: 100%;
}
.IP-info{
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color:black;
   width: 500px;
   height: 150px;
    display: flex;
   margin: 0 auto;
   margin-top: 20px;
   top:0;
}
.ipentry{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: none;
}
.search{
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    width: 60%;
   
}
.btn-search{
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 40px;
    height: 30px;
    gap:-10px;
}
.ipinformation{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 40px; */
}

section{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#map { 
    height:500px; 
    background-color: aliceblue;
    padding: 0;
    margin-top: -80px;
    z-index: -1;
}
h3{
    color: gray;
    font-size: 18px;
}
/* .IP-info{
   background-color: white; 
   height: 60px;
    
} */
 
